<header class="site-header">
  <div class="wrapper">
    <div class="nav-row align-items-center justify-content-between">
      <div class="site-title">
        <a class="" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <input type="checkbox" id="nav-checkbox">
      <label for="nav-checkbox" class="nav-toggler">
        <span></span>
      </label>
      <nav class="nav-items">
        <ul>
          {% for page in site.pages %}
            {% if page.title %}
              <li><a class="" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
          <li><a class="" href="{{ site.baseurl }}/resume/" target="_blank">resume</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
