
/**
 * Site header   **********************************************************
 */
 .site-header {
  border-bottom: 1px solid $grey-color-light;
  background-color: #fff;
  opacity: 0.75;
  position:fixed;
  left:0px;
  top:0px;
  height:56px;
  width:100%;
  z-index: 50;
}

.site-title {
  line-height: $nav-height;
  text-transform: lowercase;
}

.site-nav {
  float: right;
  line-height: $nav-height;
  .page-link{
    line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
      @include media-query($on-palm) {
        position: fixed;
        top: 0px;
        right: 10px;
        text-align: right;
        &:hover .trigger {
          display: block;
          padding-bottom: 5px;
        }
        .page-link {
          display: line;
        }
      }
    }

    .header-bar{
      text-transform: lowercase;
      left: 0px;
      top: 0px;
      position: relative;
      font-size: 20px;
      display: block;
      opacity: 0.75;
      width: 100%;
      text-align: center;
      padding-top: 25px;
      line-height: 3em;
      z-index: 25;
      h1{
        color: $theme-color;
        font-size:75px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      h2{
        font-size:25px;
      }
      img {
        width: 200px;
        border-radius: 50%;
      } /* img */
    }

/**
 * Site footer  **********************************************************
 */
 .site-footer {
  text-align: center;
  border-top: 1px solid $grey-color-dark;
  font-size: 10px;
  background-color: $grey-color-dark;
  padding: 2px;
  color: #aaa;
  position:fixed;
  left:0px;
  bottom:0px;
  height:25px;
  width:100%;
  a {
    color: $grey-color-light;
  } /* a */
}
/**
 * Pagination   **********************************************************
 */
 .pagination{
  max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 50px;
}
.paginationicon {
  font-size: 50px;
  a {
    color: $theme-color;
  }
}
/**
 * Page content   **********************************************************
 */
 .page-content {
  padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}

.page-header {
  text-align: center;
  margin-bottom: 1.25em;
  h1 {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 1.25em;
    @include media-query($on-laptop) {
      font-size: 36px;
    }
  }
  h5 {
    font-size: 12px;
    margin-bottom: 4em;
  } /* h5 */
} /* .page-header */

.post-list {
  margin: 0px 0;
  list-style: none;
  > li {
    margin-bottom: $vertical-spacing-unit;
  }
}

img.about-pic {
  margin-right: 1.25em;
}

.contact-icon {
  font-size: 50px;
  display:block;
  margin: 10px;
  a {
    color: $theme-color-2;
    margin: 0px 5px;
  } /* a */
}/* contact-icon */
.center{
  text-align: center;
}
/**
 * Posts  **********************************************************
 */
 .post-header {
  margin-bottom: $vertical-spacing-unit;
}
.post-title {
  font-size: 35px;
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}
.post-content {
  h2 {
    font-size: 30px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 20px;
    margin-bottom: 0.5em;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 15px;
    font-weight: bold;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-bottom: 0px;
}
.post-link {
  display: block;
  font-size: 42px;
}

/****** Index page ******/
.home-links {
  text-align: center;
  text-transform: lowercase;
  a {
    margin: 0px 10px;
    color: $theme-color-2;
    &:hover { color: $theme-color; }
  } /* a */
} /* .home-links */


/** Poem formatting ********************************************/
.poem-title {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    font-size: 16px;
  }
}

/****** Portfolio Index ******/
.portfolio-index {
  h2 {
    text-align: center;
    width: 50%;
    min-width: 250px;
    margin: 0 auto;
    margin-top: 1.5em;
    border-top: 1px solid $grey-color-light;
    padding: 1.25em 0em;
    text-transform: lowercase;
  }
  .rails-sites { overflow: auto; }
  .projects-subhead { text-align: center; }
  .featured {
    clear: both;
    margin: 0 auto;
    width: 33%;
  }
  .section-explanation { text-align: center; }
} /* .portfolio-index */

.products {
  overflow: auto;

  article {
    background-color: white;
    border: 1px solid #e5e4de;
    border: 100% 50% 50% 100%;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(229,228,222,1);
    -moz-box-shadow: 10px 10px 20px 0px rgba(229,228,222,1);
    box-shadow: 10px 10px 20px 0px rgba(229,228,222,1);
    margin: 0% 20px 20px 0%;
    overflow: auto;
    img {
      width: 20%;
      min-width: 100px;
      float: left;
    }
    h3 { font-size: 1.125em; }
    p {
      font-size: 0.85em;
      line-height: 1.25em;
    }
    .explanation {
      float: left;
      padding: 10px 10px 0px 10px;
      width: 71%;
    }
  }
} /* .products */

.writing {
  article {
    margin-bottom: 2em;
    h4 {
      font-weight: bold;
      font-size: 1.25em;
      margin-bottom: 0px;
    } /* h4 */
    p {
      margin: 0;
      font-size: 0.85em;
      line-height: 1.25em;
    } /* p */
  } /* article */
} /* .writing */


/**
 * Portfolio grid **********************************************************
 */
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.project {
  width: 33.33%;
  height: 250px;
  float: left;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px;
}
.thumbnail{
  text-align: center;
  width: $tile-size;
  height: $tile-size;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(229,228,222,1);
  -moz-box-shadow: 10px 10px 20px 0px rgba(229,228,222,1);
  box-shadow: 10px 10px 20px 0px rgba(229,228,222,1);
}
.thumbnail img{
  width: 100%;
}
.thumbnail a{
  float: left;
  position: relative;
  height: $tile-size;
  overflow: hidden;
}
.thumbnail a span {
  display: none;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $theme-color;
  opacity: 0.9;
  filter: alpha(opacity=90);
  color: white;
  padding: 40px;
  text-align: center;
}
.thumbnail a:hover span {
  display: block;
}

/******** Rails Projects ********/

.portfolio-show {
  text-align: center;
  img {
    width: 400px;
    border: 1px solid $grey-color-light;
  }
  a {color: $theme-color;}
  .link-buttons {
    a {
      color: $theme-color;
      border: 1px solid $theme-color;
      padding: 2px 10px;
      border-radius: 5px;
      margin: 0 5px;
      &:hover {
        background-color: $theme-color;
        color: white;
      } /* &:hover */
    } /* a */
  }/* links */
}/* portfolio-show */

/**
 * Portfolio pages **********************************************************
 */
 .blankbox{
  background: $theme-color;
}
.img_row{
  height: $img_height;
  width: 100%;
  overflow: hidden;
  box-sizing:border-box;
  padding: $img_spacing;
}
.col{
  width: 100%;
  height: 100%;
  float: left;
  object-fit: cover;
  box-sizing:border-box;
  padding: $img_spacing;
}
.right{
  float: right;
}
.one {
  width:33.33%;
}
.two {
  width: 66.66%;
}
.three{
  width: 100%;
}
.caption{
  height: 100%;
  color: $caption_color;
  text-align: center;
  vertical-align: middle;
  font-size: $caption_font_size;
}
