---
layout: default
---

<div class="portfolio-show">

  <a href="{{ page.repo }}" target="_blank" alt="{{ page.name }}"><img src="{{ page.img }}"></a>

  <header>
    <h1>{{ page.name }}</h1>
    <p class="tagline">{{ page.tagline }}</p>

     <div class="link-buttons">
      {% unless page.site == nil %}
      <a href="{{ page.site }}" target="_blank" alt="{{ page.name }}"><i class="fa fa-external-link"></i> Site</a>
      {% endunless %}
      {% unless page.repo == nil %}
      <a href="{{ page.repo }}" target="_blank" alt="repo"><i class="fa fa-code-fork"></i> Repo</a>
      {% endunless %}
    </div> <!-- links -->
  </header>

  <p>{{ page.description }}</p>

  {% unless page.codeclimate == nil %}
    <div class="badge">
      {{ page.codeclimate }}
    </div>
  {% endunless %}

  {% if page.readme == true %}
  <p>Check out the <a href="{{ page.repo }}" target="_blank" alt="{{ page.name }} repo">repo README</a> for code snippets and screenshots of the most interesting parts.</p>
  {% endif %}

  <p><strong>Tech Used:</strong> {{ page.tech_used }}</p>

  <p><strong>My Role:</strong> {{ page.role }}</p>



  <article class="post-content">
    {{ content }}
  </article>

</div> <!-- portfolio-show -->
